<div class="home-module-wrapper {{ settings.home-instagram-style }}">
  <div class="home-module home-instagram">
    
    {% if settings.home-instagram-title != blank %}
      <h3 class="section-title">{{ settings.home-instagram-title }}</h3>
    {% endif %}

    <div class="instagram-photos"></div>

    {% if settings.home-instagram-cta != blank and settings.home-instagram-url != blank %}
      <div class="home-instagram-cta">
        <a class="button secondary" href="{{ settings.home-instagram-url }}">{{ settings.home-instagram-cta }}</a>
      </div>
    {% endif %}
  </div>
</div>